html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		#test1.day
		#test2.day
		div.drag#specificID1 
			.resizer#num1
			p Draggable
		div.drag#specificID2
			.resizer#num2
			p Draggable

		script(type='text/javascript', src='./js/calendar.js')