/* */

.CUSTOMER-SCAMP {
	background-color: #006989;
	box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
    /* inset 1px 1px 2px 0px #ffffff70,
    inset 5px 5px 10px 0 #C9EAEC80,
    inset -1px -1px 1px 0 #1A414370,
    inset -12px -12px 12px -8px #1A414310; */
}

.CUSTOMER-DENWILL {
	background-color: #1a2651;
	color: white;
}

.CUSTOMER-NWTL {
	background-image: linear-gradient(white, gray) !important;
}

/* */

* {
	font-family: 'Helvetica';
}

body {
	background-color: #e0e0e0;
}

.year {
	/* border: 1px solid red; */
	border-top: 1px dashed #adaaaa;
	padding-top: 1em;
}

.year h1 {
	text-align: center;
	padding-bottom: 2em;
}

.month {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.month h2 {
	width: 100%;
	text-align: center;
	border-top: 1px dashed black;
	padding-top: 2em;
}

.customer {
	border: 1px solid #e5e5e5 ;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	height: max-content;
	background-color: #f4f4f4;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer h3 {
	width: 80%;
	border-bottom: 1px solid gray;
	display: flex;
	padding-bottom: 0.25em;
}

.unit {
	border-bottom: 1px solid gray;
	width: 100%;
}


/* HOME PAGE */

#homeHeader {
	text-align: center;
	padding-bottom: 1em;
	margin-top: 5%;
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	width: 100%;
}

img {
	max-width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#test1 {
	border: 1px solid red;
	width: 20em;
	height: 20em;
}

#test2 {
	border: 1px solid blue;
	width: 20em;
	height: 20em;
}

.drag {
	border: 1px solid black;
	height: 2em;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.drag p {
	cursor: move;
	color: red;
	border: 1px solid red;
}

.resizer {
	height: 0.5em;
	width: 0.5em;
	background-color: green;
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: e-resize;
}

/* CALENDAR PAGE /CALENDAR */

.calendarMonth {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}



.monthHeader {
	text-align: center;
}

.dayHeader {
	text-align: center;
}

.calendarDayWrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);;
}

.calendarDay {
	border: 0.1em solid black;
	padding: 0.5em;
	box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
	margin: 0.5em;
}

.selector {
	height: 2em;
	border: 1px solid gray;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
}

.selector p {
	margin: 1em;
}

.toggle {
	border: 2px solid green;
}

.unitToggle {
	border: 2px solid green !important;
}

#calendarDiv {
	margin-top: 10em;
	display: flex;
	flex-direction: column;
}

.sidebar {
	border: 1px solid black;
	display: flex;
	height: 150vh;
	flex-direction: column;
	overflow-y: scroll;
}

.calendarUnitWrapper {
	display: flex;
	flex-direction: row;
}

.calendarUnit {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1;
}

.calendarUnit p {
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;

}

.inspection {
	
}

.confirmed {
	background-color: green;
	border: 1px solid blue;
}

.status {
	font-size: 1em;
}

.yearAnchor {
	margin: 1em;
}

.monthDiv {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 4fr 1fr;
	
}

.freeze {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: gray;
}