/* */

.CUSTOMER-SCAMP {
	background-color: #006989;
}

.CUSTOMER-DENWILL {
	background-color: #1a2651;
	color: white;
}

.CUSTOMER-NWTL {
	/* background-color: #595c60; */
	background-image: linear-gradient(white, gray) !important;
	/* color: #e6e7e9; */
}

/* */

* {
	/* font-family: 'Courier New', monospace; */
	font-family: 'Helvetica';
}

body {
	background-color: #e0e0e0;
}

.year {
	/* border: 1px solid red; */
	border-top: 1px dashed #adaaaa;
	padding-top: 1em;
}

.year h1 {
	text-align: center;
	padding-bottom: 2em;
}

.month{
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.month h2 {
	width: 100%;
	text-align: center;
	border-top: 1px dashed black;
	padding-top: 2em;
}

.customer {
	border: 1px solid #e5e5e5 ;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	/* width: 15%; */
	height: max-content;
	background-color: #f4f4f4;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer h3 {
	width: 80%;
	border-bottom: 1px solid gray;
	display: flex;
	padding-bottom: 0.25em;
}

/* .customer div {
	border: 1px solid black
} */

.unit {
	border-bottom: 1px solid gray;
	width: 100%;
}

/* .name {
	color: #999;
} */



/* HOME PAGE */

#homeHeader {
	text-align: center;
	padding-bottom: 1em;
	margin-top: 5%;
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	width: 100%;
}

img {
	max-width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 1px solid black; */
}

/* form div {
	color: red;
	border: 1px solid black;
} */

#test1 {
	border: 1px solid red;
	width: 20em;
	height: 20em;
}

#test2 {
	border: 1px solid blue;
	width: 20em;
	height: 20em;
}

.drag {
	border: 1px solid black;
	height: 2em;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.drag p {
	cursor: move;
	color: red;
	border: 1px solid red;
}

.resizer {
	height: 0.5em;
	width: 0.5em;
	background-color: green;
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: e-resize;
}

/* CALENDAR PAGE /CALENDAR */

.calendarMonth {
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* max-width: 80%; */
}

.calendarMonth h1 {
	display: flex;
	flex: 1;
	width: 100%;
}

.calendarDay {
	border: 1px solid blue;
	flex: 1 0 10%;
	padding: 1em;
	margin: 1em;
	max-width: 15%;
	/* height: 10em */
}

.selector {
	height: 2em;
	margin: 0.5em;
	border: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
}

.selector p {
	margin: 1em;
}

.toggle {
	border: 2px solid green;
}

.unitToggle {
	border: 2px solid green !important;
}

#calendarDiv {
	margin-top: 10em;
	display: flex;
	flex-direction: column;
}

.sidebar {
	border: 1px solid black;
	min-width: 20%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.calendarUnitWrapper {
	display: flex;
	flex-direction: row;
}

.calendarUnit {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1;
}

.calendarUnit p {
	margin: 1em;
}

.confirmed {
	background-color: green;
	border: 1px solid blue;
}

.status {
	font-size: 1em;
}

.yearAnchor {
	margin: 1em;
}

.monthDiv {
	border: 1px solid black;
	display: flex
}

.freeze {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: gray;
}

















/* .month {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.monthHeader {
	min-width: 100%;
	text-align: center;
}

.unit {
	min-width: 30em;
	min-height: 20em;
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 0.5em;
}

.customerDiv {
	min-width: 100%;
	margin-left: 5%;
	align-items: left;
	border: 1px solid black;
}

.customerHeader {
	font-size: 100%;
} 

.customer {
	font-size: 150%;
	font-weight: 600;
	color: #3d3d3d;
}

.unitNumber {
	font-weight: 200;
}

.unitInformation {
	border-top: 1px solid black;
	width: 90%;
}

.company {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
} */