/* */

/* GREENS

KMP
#00954c

CANGAS
#6ab335

GREENROADS
#90bd2a

PAZ
#97db00

SUMMIT
#7dac42

#97db00
#6ab335
#90bd2a

BLUES

SCAMP
#2fa1ee

POGO
#003167

KJ
#0e0d88

DENWILL
#1b2554 */

* {
	font-family: 'Inter' !important;
}

.CUSTOMER-VI {
	background-color: red;
}

/* - North Arm Transportation
hot pink */
.CUSTOMER-NORTH-ARM {
	/* background-color: #ca0791; */
	/* color: #080046; */
}


/* - Alchemist Specialty Carriers
red */
.CUSTOMER-ALCHEMIST {
	background-color: #941C2F;
	color: white;
}

/* - Otter Coop
fiery orange/tangerine orange or whatever */
.CUSTOMER-OTTER {

}

/* - CTGas
orange */

.CUSTOMER-CT-GAS {

}

/* - Superior Propane
yellow */

.CUSTOMER-SUPERIOR {
	background-color: #FFD400;
}

/* - Summit Propane
grass green */

.CUSTOMER-SUMMIT {
	background-color: #305926;
	color: white;
}

/* - PAZ
neon green */
.CUSTOMER-PAZ {
	background-color: #93d500;
	color: #263053;
}

/* - Green Roads Recycling 
somewhere between grass and forest green */
.CUSTOMER-GREEN-ROADS {

}

/* - KMP
forest green */
.CUSTOMER-KMP {
	background-color: #1c3227;
	color: white;
}

/* - POGO Propane
bluey green/sea foam */
.CUSTOMER-POGO {

}

/* - Scamp Transport LTD
cyan/robins egg */
.CUSTOMER-SCAMP {
	background-color: #20A4F3;
}

/* - Denwill
bright blue */
.CUSTOMER-DENWILL {
	background-color: #090446;
	color: white;
}

/* - Cangas
Darkish turquoisey blue */
.CUSTOMER-CANGAS {

}

.CUSTOMER-DESERT-CARDLOCK {
	background-color: silver;
}
/* 
- Ken Johnson Trucking
navy blue  */
.CUSTOMER-KEN-JOHNSON {
	background-color: #0C0A3E;
	color: #EEE;
}

/* - Kiewit
gold */
.CUSTOMER-KIEWIT {
	background-color: #c9aa16;
}

/* - Northwest Tanklines
silver */
.CUSTOMER-NWTL {
	background-color: silver;
}

/* - Cariboo Propane
bronze */
.CUSTOMER-CARIBOO {

}

/* - Federated Coop
white */
.CUSTOMER-FEDERATED {

}

/* - Arc Ashphalt
black  */
.CUSTOMER-ARC {
	
}

.CUSTOMER-LG-FUEL {
	background-color: #d39433;
}

.CUSTOMER-PROPANE-DEPOT {
	background-color: #008000;
	color: white;
}

.CUSTOMER-KODIAK {
	background-color: #454918;
	color: white;
}

.CUSTOMER-PATRICK {
	background-color: yellow;
}

/* SHADOW

box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
    /* inset 1px 1px 2px 0px #ffffff70,
    inset 5px 5px 10px 0 #C9EAEC80,
    inset -1px -1px 1px 0 #1A414370,
    inset -12px -12px 12px -8px #1A414310; */
	


/* */

* {
	font-family: 'Helvetica';
}

body {
	background-color: #e0e0e0;
}

.year {
	/* border: 1px solid red; */
	border-top: 1px dashed #adaaaa;
	padding-top: 1em;
}

.year h1 {
	text-align: center;
	padding-bottom: 2em;
}

.month {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.month h2 {
	width: 100%;
	text-align: center;
	border-top: 1px dashed black;
	padding-top: 2em;
}

.customer {
	border: 1px solid #e5e5e5 ;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	height: max-content;
	background-color: #f4f4f4;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer h3 {
	width: 80%;
	border-bottom: 1px solid gray;
	display: flex;
	padding-bottom: 0.25em;
}

.unit {
	border-bottom: 1px solid gray;
	width: 100%;
}


/* HOME PAGE */

#homeHeader {
	text-align: center;
	padding-bottom: 1em;
	margin-top: 5%;
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	width: 100%;
}

img {
	max-width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#test1 {
	border: 1px solid red;
	width: 20em;
	height: 20em;
}

#test2 {
	border: 1px solid blue;
	width: 20em;
	height: 20em;
}

.drag {
	border: 1px solid black;
	height: 2em;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.drag p {
	cursor: move;
	color: red;
	border: 1px solid red;
}

.resizer {
	height: 0.5em;
	width: 0.5em;
	background-color: green;
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: e-resize;
}

/* CALENDAR PAGE /CALENDAR */

.calendarMonth {
	/* border: 1px solid red; */
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
	/* margin-right: 1em; */
}



.monthHeader {
	text-align: center;
}

.dayHeader {
	text-align: center;
	margin-top: 5em;
}

.calendarDayWrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendarDay {
	border: 0.1em solid black;
	padding: 0.5em;
	box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
	margin: 0.5em;
	/* margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.25em;
	margin-right: 0.25em; */
}

.calendarDay a {
	color: black;
	text-decoration: none;
}

.calendarDay a:hover {
	color: black;
	text-decoration: underline;
}

.selector {
	height: 3em;
	border: 1px solid gray;
	width: 100%;
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-radius: 0.5em;
}

.selector > p {
	/* margin: 1em; */
	/* font-size: 0.75em; */
	font-size: 1.5vmin;
	/* margin: 0.1em; */
	/* padding: 0.1em; */
	text-align: center;
}

.toggle {
	border: 2px solid green;
}

.unitToggle {
	border: 2px solid green !important;
}

#calendarDiv {
	margin-top: 10em;
	display: flex;
	flex-direction: column;
}

.sidebar {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	flex-shrink: 3;
	max-height: 100rem;
	/* padding-left: 1em; */
}

.calendarUnitWrapper {
	display: flex;
	flex-direction: row;
}

.calendarUnit {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1;
}

.calendarUnit p {
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;

}

.inspection {

}

.confirmed {
	/* background-color: green !important; */
	border: 5px solid green;
	/* background-image: linear-gradient(green, green) !important; */
}

.status {
	font-size: 1em;
}

.yearAnchor {
	margin: 1em;
}

.monthDiv {
	/* border: 1px solid black; */
	/* display: grid;
	grid-template-columns: 4fr 1fr; */
	display: flex;
	/* align-items: stretch; */
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid black;
}

.freeze {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: #C9C9C9;

	box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
    /* inset 1px 1px 2px 0px #ffffff70,
    inset 5px 5px 10px 0 #C9EAEC80,
    inset -1px -1px 1px 0 #1A414370,
    inset -12px -12px 12px -8px #1A414310; */

	/* display: flex; */
}

.yearFreezePane {
	/* display: grid;
	grid-template-columns: 2fr 4fr 1fr; */
	display: flex;
	flex-direction: column;
}

.seperator {
	display: flex;
}

.monthNavigation {
	color: red;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.monthNavigation a {
	color: black !important;
	text-decoration: none;
	margin: 1em;
}

.monthNavigation a:hover {
	text-decoration: underline;
}

.monthViewNavigation {
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: end;
}

.monthHeader {
	/* background-color: #e1edf2; */
}

.monthHeader a {
	color: black !important;
	text-decoration: none;
	/* margin: 1em; */
}

.monthFreezePane {
	/* height: 10vh */
	display: flex;
}

.monthHeader a:hover {
	text-decoration: underline;
}

/* MONTH VIEW */
.monthView {
	display: grid;
	grid-template-columns: 4fr 1fr;
	max-height: 100vh;
}

.monthViewHeader {
	text-align: center;
	padding-top: 5em;
}

/* DAY VIEW */

.dayView {
	/* display: grid;
	grid-template-columns: 4fr 1fr; */
	display: flex;
}
.dayViewCalendarDay {
	/* flex-grow: 3 !important; */
	flex: 1 1 100%;
}
.dayViewSidebar {
	flex-shrink: 3 !important;
}

.dayHeader {
	padding: 1em;
}

#confirm {
	display: flex;
	justify-content: right;
	align-items: right;
}

#confirm button {
	background-color: #006400;
	border: 1px solid black;
	color: white;
	/* height: 2.5em; */
	/* width: 5em; */
	text-align: center;
}

#confirm button:active {
	background-color: #17B169;
	border: 1px solid black;
	color: white;
	/* height: 2.5em; */
	/* width: 5em; */
	text-align: center;
}

.monthViewConfirm {
	display: flex;
	flex-grow: 1;
}

.yearConfirmButton {
	display: flex;
	/* flex-grow: 1; */
}

.yearLinks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.yearLinks h1 {
	margin-right: 1em;
	margin-left: 1em;
}

.yearLinks a {
	color: black;
	text-decoration: none;
}

.yearLinks a:hover {
	text-decoration: underline;
}

.day {
	font-size: larger;
	font-weight: bold;
}

.customerSidebar {
}

.customerName {
	text-align: center;
	font-size: large;
	font-weight: bold;
}

.createdItems {
	padding-bottom: 1em;
	border-bottom: 1px dotted black;
}

.creation {
	/* display: flex; */
}

.create {
	background-color: 006400;
	color: white;
	border: 2px solid black;
	min-width: 100%;
	height: 2em;
	font-size: medium;
}

.creationClick {
	background-color: gray;
}

.custom {
	color: red;
	display: flex;
	flex-direction: column;
}

input {
	min-width: 100%;
	height: 2em;
	font-size: medium;
}

#custom > button {
	height: 2em;
	background-color: #006400;
	border: 1px solid black;
	color: white;
	font-size:medium;
}

.link {
	color: black;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.hideSidebarButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	background-color: #eee;
}

.dayViewFreeze {
	display: flex;
	justify-content: end;
}

.hiddenSidebarButton {
	background-color: green;
}