/* * {
	font-family: 'Helvetica';
} */

/* .calendarDay {
	container-type: inline-size;
	co
}

.monthNavigation{
	container-type: inline-size;
}

@container test (width < 1000px) {
	.calendarDay span {
		font-size: 0.5em !important;
		color: inherit !important;
	}

	.monthNavigation a {
		font-size: 0.5em !important;
		color: inherit !important;
	}
} */

@media (width <= 1366px) {
	/* .calendarDay span{
		color: red
	} */

	.monthNavigation a {
		font-size: 0.75em;
	}
	.shopList div {
		font-size: 0.75em;
	}

	.navigationButtons button{
		font-size: 0.6em;
	}

	.navigation img {
		transform: scale(0.75);
	}

	.day {
		font-size: 0.6em;
	}
}

.day {
	font-weight: bold;
	margin-bottom: 1em;
}

* {
	font-family: 'Inter' !important;
	margin: 0;
}

body {
	background-color: #e0e0e0;
}

.dayHeader {
	text-align: center;
	margin-top: 5em;
}

.calendarDayWrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	flex-grow: 1;
}

.calendarDay {
	border: 0.1em solid black;
	padding: 0.5em;
	box-shadow:
    1px 1px 2px 0px #00000060,
    3px 3px 6px 0 #7E856Eb0,
    5px 5px 12px 0 #7E856E70,
    7px 7px 30px #7E856E30;
	margin: 0.5em;
	/* margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.25em;
	margin-right: 0.25em; */

	/* height: 100vh; */
}

.Saturday, .Sunday {
	background-color: #C9C9C9;
}

.calendarDay a {
	color: black;
	text-decoration: none;
}

.calendarDay a:hover {
	color: black;
	text-decoration: underline;
}

.selector {
	height: 3em;
	border: 1px solid gray;
	width: 100%;
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr 1fr; */
	border-radius: 0.5em;
	position: relative;
	display: flex;
	justify-content: center;
}

.selector > p {
	font-size: 1.5vmin;
	text-align: center;
}

.scheduledItem {
	display: flex;
	/* flex-direction: column; */
	/* white-space: nowrap; */

	font-size: 1.8vmin;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.scheduledItem > span {
	width: 50%;
	font-weight: bold;
}

.clearButton {
	position: absolute;
	right: 0;
	height: 0.75em;
	width: 0.75em;
	background-color: red;
}

.missedButton {
	position: absolute;
	right: 0.75em;
	height: 0.75em;
	width: 0.75em;
	background-color: yellow;
}

.missedUnit {
	animation: missedUnitBlink 1s infinite
}

@-webkit-keyframes missedUnitBlink {
	0%, 49% {
	  background-color: rgb(224, 211, 26);
	  border: 3px solid #e50000;
	}
	50%, 100% {
	  background-color: #e50000;
	  border: 3px solid rgb(224, 211, 26);
	}
  }

.monthView {
	display: flex;
	flex-direction: row;
}

.hide {
	display: none;
}

.freeze {
	position: fixed;
	z-index: 999;
}

.navigation {
	border: 1px solid black;
	background-color: rgb(187, 196, 229);
	height: 5em;
	max-height: 5em;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.5);
}

#navlogo {
	max-width: 100%;
	max-height: 5em;
	object-fit: contain;
}

.shopList {
	display: flex;
	width: 7%;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;

}

.shopList > div {
	border: 1px solid black;
	padding: 0.5em 1em;
	background-color: gray;
	/* margin-left: 1em;
	margin-right: 1em; */
}

.shopList > div:hover {
	filter: brightness(75%)
}

.shopList > div:focus {
	/* background-color: red; */
}

.monthNavigation {
	display: flex;
	justify-content: space-evenly;
	/* justify-content: end; */
	flex-grow: 1;
	align-items: end;
	font-size: larger;
}

.monthNavigation > a {
	color: black;
	text-decoration: none;
}

.monthNavigation > a:hover {
	text-decoration: underline;
}

.navigationButtons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigationButtons button {
	background-color: white;
}

.calendarSubmit {
	visibility: hidden;

	background-color: #04AA6D !important;
	border: none;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
}

.calendarSubmit:hover {
	filter: brightness(75%)
}

.hideSidebar {
	/* text-decoration: none;
	border: none; */
	/* background-color: #04AA6D !important; */
	border: none;
	/* color: white; */
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
}

.hideSidebar:hover {
	filter: brightness(75%)
}

.monthHeader {
	padding-top: 3em;
	text-align: center;
}

/* ===== ===== ===== ===== START OF SIDEBAR ===== ===== ===== ===== ===== */

.sidebar {
	border: 1px solid black;
	border-radius: 1em;
	/* padding-top: 3em; */
	/* padding: 0.5em; */
	min-width: 20%;
	max-width: 20%;
	max-height: 90vh;
	/* overflow-y: scroll; */
	margin-right: 1em;
	position: sticky;
	align-self: flex-start;
	top: 5em;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar-CompanyDiv {
	/* border: 1px solid blue; */
	text-align: center;
}

.sidebar-CompanyHeader {
	/* background-color: gray; */

	margin-top: 1em;
}

.sidebar-UnitHeader {
	background-color: white;
	border: 1px solid black;
	position: relative;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar-UnitHeader > span {
	width: 25%;
}

.colorWheelDiv {
	width: 3em;
}

#CreateUnitForm {
	display: flex;
	flex-direction: column;
}

.createUnitDiv {

}

.createButton {
	
}

.unitCreationDiv > input {
	min-width: 100%;
}

#CompanyDropDown > option{
	/* background-color: red; */
	min-width: 100%
}

.highlight {
	background-color: green !important;
}

.clearAllButton {
	/* position: absolute;
	right: 0 */
	width: 20%;
}

.editing {
	height: 4em;
}

.editDiv {
	display: flex;
	flex-direction: column !important;
}

/* ===== ===== ===== ===== ===== END OF SIDEBAR ===== ===== ===== ===== ===== */


/* MATRIX/CERTIFICATIONS */

.certifications {
	/* display: flex;
	flex-direction: column; */
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

th, td {
	min-width: 10em;
	max-width: 10em;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.employee {
	text-align: center;
}

.employeeCertification {
	border: 1px solid black;
}
